USE [CarPool]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertBookingDetails]    Script Date: 11/21/2013 14:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_InsertBookingDetails] 
(@CARID INT,@ROUTEID INT , @NOOFSEATS INT ,@DATE varchar(30),@PASSENGER1 VARCHAR(100),
@PASSENGER2 VARCHAR(100),@PASSENGER3 VARCHAR(100),@PASSENGER4 VARCHAR(100),
@PASSENGER5 VARCHAR(100),@PASSENGER6 VARCHAR(100),@PASSENGER7 VARCHAR(100),
@PASSENGER8 VARCHAR(100),@PASSENGER9 VARCHAR(100),@PASSENGER10 VARCHAR(100))
AS
BEGIN
	BEGIN TRY
		DECLARE @SEATSCOUNT INT
		DECLARE @PASSCHK1 VARCHAR(100)
		DECLARE @PASSCHK2 VARCHAR(100)
		DECLARE @PASSCHK3 VARCHAR(100)
		DECLARE @PASSCHK4 VARCHAR(100)
		DECLARE @PASSCHK5 VARCHAR(100)
		DECLARE @PASSCHK6 VARCHAR(100)
		DECLARE @PASSCHK7 VARCHAR(100)
		DECLARE @PASSCHK8 VARCHAR(100)
		DECLARE @PASSCHK9 VARCHAR(100)
		DECLARE @PASSCHK10 VARCHAR(100)
		SET NOCOUNT ON;
		
		set @SEATSCOUNT=0
		
		SELECT @PASSCHK1=Passenger1,@PASSCHK2=Passenger2,@PASSCHK3=Passenger3,@PASSCHK4=Passenger4,
		@PASSCHK5=Passenger5,@PASSCHK6=Passenger6,@PASSCHK7=Passenger7,@PASSCHK8=Passenger8,@PASSCHK9=Passenger9,@PASSCHK10=Passenger10
		FROM tbl_Trip
		WHERE CARID=@CARID and RouteID=@ROUTEID	and date=convert(datetime,@DATE)
		
		IF(@PASSCHK1!='' OR @PASSCHK1 IS NOT NULL OR LEN(@PASSCHK1)!=0)
		BEGIN
			SET @SEATSCOUNT=1
		END
		IF((@PASSCHK2!='' OR @PASSCHK2 IS NOT NULL OR LEN(@PASSCHK2)!=0) and @SEATSCOUNT=1)
		BEGIN
			SET @SEATSCOUNT=2
		END
		IF((@PASSCHK3!='' OR @PASSCHK3 IS NOT NULL OR LEN(@PASSCHK3)!=0) and @SEATSCOUNT=2)
		BEGIN
			SET @SEATSCOUNT=3
		END
		IF(@SEATSCOUNT=0)
		BEGIN
			UPDATE tbl_Trip
			SET Passenger1=@PASSENGER1,
			Passenger2=@PASSENGER2,
			Passenger3=@PASSENGER3,
			Passenger4=@PASSENGER4,
			Passenger5=@PASSENGER5,
			Passenger6=@PASSENGER6,
			Passenger7=@PASSENGER7,
			Passenger8=@PASSENGER8,
			Passenger9=@PASSENGER9,
			Passenger10=@PASSENGER10,
			SeatsAvailable=SeatsAvailable-@NOOFSEATS
			WHERE CARID=@CARID and RouteID=@ROUTEID	and date=convert(datetime,@DATE)
		END
		IF(@SEATSCOUNT=1)
		BEGIN
			UPDATE tbl_Trip
			SET 
			Passenger2=@PASSENGER1,
			Passenger3=@PASSENGER2,
			Passenger4=@PASSENGER3,
			Passenger5=@PASSENGER4,
			Passenger6=@PASSENGER5,
			Passenger7=@PASSENGER6,
			Passenger8=@PASSENGER7,
			Passenger9=@PASSENGER8,
			Passenger10=@PASSENGER9,
			SeatsAvailable=SeatsAvailable-@NOOFSEATS
			WHERE CARID=@CARID and RouteID=@ROUTEID	and date=convert(datetime,@DATE)
		END
		RETURN 0
		
	END TRY
	BEGIN CATCH		
		SELECT ERROR_NUMBER()
		SELECT ERROR_MESSAGE()
		SELECT ERROR_SEVERITY()
		RETURN -2
	END CATCH
 
END
